<div class="advantages-slider">
    <div class="advantages-content">
        <ul class="advantages-list">
            <li class="advantages-item">
                <h2>24/7 Abholstation
                </h2>
                <p>PWare, die nicht zu warm
                    werden darf? Kein Problem. Das Kühlsystem
                    der MyLocker24-Box sorgt für optimale
                    Temperaturen.</p>
            </li>
            <li class="advantages-item">
                <h2>Schließfächer für
                    Unternehmen</h2>
                <p>Zulieferungen rund um die Uhr.
                    Für Einzelhändler, Paketdienste
                    und Onlineshops. Waren
                    einfach und sicher in der Abholstation
                    verstauen.Auftrag
                    erledigt.</p>
            </li>
            <li class="advantages-item">
                <h2>Konzerte und
                    Events</h2>
                <p>Die MyLocker24-Safety-Box eignet
                    sich ideal 
                    für alle Großveranstaltungen.
                    Gegenstände einfach
                    und sicher
                    vor dem Eventgelände via Smartphone
                    verstauen. Und nach der Show
                    wieder abholen.</p>
            </li>
            <li class="advantages-item">
                <h2>24/7 Abholstation
                </h2>
                <p>PWare, die nicht zu warm
                    werden darf? Kein Problem. Das Kühlsystem
                    der MyLocker24-Box sorgt für optimale
                    Temperaturen.</p>
            </li>
            <li class="advantages-item">
                <h2>24/7
                    Lieferstation</h2>
                <p>Zulieferungen rund um die Uhr.
                    Für Einzelhändler, Paketdienste
                    und Onlineshops. Waren
                    einfach und sicher in der Abholstation
                    verstauen.Auftrag
                    erledigt.</p>
            </li>
            <li class="advantages-item">
                <h2>Konzerte und
                    Events</h2>
                <p>Die MyLocker24-Safety-Box eignet
                    sich ideal 
                    für alle Großveranstaltungen.
                    Gegenstände einfach
                    und sicher
                    vor dem Eventgelände via Smartphone
                    verstauen. Und nach der Show
                    wieder abholen.</p>
            </li>
        </ul>
    </div>
</div>