<div class="advantages-slider">
    <div class="advantages-content">
        <ul class="advantages-list">
            <li class="advantages-item">
                <h2>24/7 Abholstation
                </h2>
                <p>Pakete und Gegenstände jederzeit
                    abholen – Tag und Nacht.<br>
                    Frei und fl exibel. Ohne Stress.
                    Für zufriedene Kunden..</p>
            </li>
            
            <li class="advantages-item">
                <h2>Schließfächer für
                    Unternehmen</h2>
                <p>Pakete einfacher denn je ins Büro
                    schicken lassen. Mit einer MyLocker24-
                    Pickup-Station im Unternehmen. Für
                    glückliche Mitarbeiter.</p>
            </li>
            <li class="advantages-item">
                <h2>Pakete in
                    allen Größen</h2>
                <p>Online per Smartphone oder 
                    Computer einfach das passende 
                    Schließfach
                    buchen.<br>
                    Für Pakete
                    und Waren jeder
                    Größe.</p>
            </li>
            <li class="advantages-item">
                <h2>24/7 Abholstation
                </h2>
                <p>PWare, die nicht zu warm
                    werden darf? Kein Problem. Das Kühlsystem
                    der MyLocker24-Box sorgt für optimale
                    Temperaturen.</p>
            </li>
            <li class="advantages-item">
                <h2>24/7
                    Lieferstation</h2>
                <p>Zulieferungen rund um die Uhr.
                    Für Einzelhändler, Paketdienste
                    und Onlineshops. Waren
                    einfach und sicher in der Abholstation
                    verstauen.Auftrag
                    erledigt.</p>
            </li>
            <li class="advantages-item">
                <h2>Konzerte und
                    Events</h2>
                <p>Die MyLocker24-Safety-Box eignet
                    sich ideal 
                    für alle Großveranstaltungen.
                    Gegenstände einfach
                    und sicher
                    vor dem Eventgelände via Smartphone
                    verstauen. Und nach der Show
                    wieder abholen.</p>
            </li>
        </ul>
        <div class="advantages__arrows">
            <div class="arrows__line1"></div>
            <div class="arrows__line2"></div>
            <div class="arrows">
            <span class="arrow-left"><img src="images/arrow.png" alt="left arrow"></span>
            <span class="arrow-rigth"><img src="images/arrow.png" alt="rigth arrow"></span></div>
            
        </div>
    </div>
</div>