<div class="container-fluid checkout"> 
    <div class="row">
        <div class="col-2">

        </div>
        <div class="col-9">
            <h2>Checkout</h2>
            <form action="action.php" class="form-checkout">
                <div class="main-information">
                    <h3>1. Hauptinformation</h3>
                    <div class="information">
                        <label for="information-id" >Partner ID
                            <input type="text" id="information-id" placeholder="983">
                        </label>
                        

                        <label for="information-name">Vorname
                            <input type="text" id="information-name" placeholder="Nick"></label>
                        
                        
                        <label for="information-lastname">Nachname
                            <input type="text" id="information-lastname" placeholder="Zoland"></label>
                        
                        
                        <label for="information-mail">E-Mail Adresse
                         <input type="text" id="information-mail" placeholder="nickzoland@gmail.com">   
                        </label>
                        
                        
                        <label for="information-date">Geburtsdatum
                         <input type="text" id="information-date" placeholder="25.09.1998">   
                        </label>
                        

                    </div>
                    <h3>2. Adresse</h3>
                    <div class="adress-information">

                        <label for="information-land">Land
                                                 <input type="text" id="information-land" placeholder="Germany">
   
                        </label>

                        <label for="information-city">Stadt
                        <input type="text" id="information-city" placeholder="Holm">

                        </label>

                        <label for="information-adres">Adresse
                        <input type="text" id="information-adres" placeholder="Street 5, fl,6">

                        </label>

                        <label for="information-plz">LPZ
                        <input type="text" id="information-plz" placeholder="398280">

                        </label>
                    </div>
                    <h3>3. Kontakte und Dokumente</h3>
                    <div class="contact-information">
                        <label for="information-number">Ausweisnummer
                                                  <input type="text" id="information-number" placeholder="993948004">
  
                        </label>

                        <label for="information-phone">Rufnummer
                        <input type="text" id="information-phone" placeholder="+40 (0) 768-88-88">

                        </label>

                        <label for="information-copy-id">Ausweiskopie
                        <input type="text" id="information-copy-id" placeholder="Street 5, fl,6">

                        </label>

                        <label for="information-current-bill">Aktuelle Rechnung
                        <input type="text" id="information-current -bill" placeholder="398280">

                        </label>
                    </div>

                </div>
                <div class="accept-conditions">
                
    <input type="checkbox" id="information-checkbox">
    <label for="information-checkbox">Ich akzeptiere die AGB's und Datenschutz beim drucken auf den Kaufbutton.             
    </label>
                </div>
                
                <input class="form-submit " type="submit" value="Jetzt bestellen!">
            </form>
            
        </div>
    </div>
</div>