<div class="container-fluid checkout "> 
    <div class="row">
        <div class="col-2">

        </div>
        <div class="col-9 checkout-step-1" >
            <h2>Checkout</h2>
            <div class="checkout-progress">
                <ul>
                    <li class="checkout-progress-ok">1. Hauptinformation</li>
                    <li>2. Adresse</li>
                    <li> 3. Dokumente</li>
                    <li> 4. Zusätzliche Information</li>
                </ul>
            </div>
            <form action="action.php" class="form-checkout">
                <div class="main-information">
                  
                    <div class="information">
                        <label for="information-id" >Firmenname (optional)
                            <input type="text" id="information-id" placeholder="Nick" >
                        </label>
                        

                        <label for="information-name">Vorname*
                            <input type="name" id="information-name" placeholder="Nick" required maxlength="35"></label>
                        
                        
                        <label for="information-lastname">Nachname*
                            <input type="name" id="information-lastname" placeholder="Zoland" maxlength="35"></label>
                            
                            <label for="information-date">Geburtsdatum*
                                <input type="date" id="information-date" placeholder="25.09.1998" maxlength="10">   
                               </label>
                               <label for="information-tel">Rufnummer*
                                <input type="email" id="information-tel" placeholder="+__ (___) __-__-___" required maxlength="45">   
                               </label>

                        <label for="information-mail">E-Mail Adresse*
                         <input type="email" id="information-mail" placeholder="nickzoland@gmail.com" required maxlength="45">   
                        </label>
                        
                        
                        
                        

                    </div>
                    

                </div>
               
                
                
                <a href="#" class="next-step-checout">Next</a>
            </form>
            
        </div>
    </div>
</div>