<div class="container-fluid partner-dashboard-container">
    <div class="row">
        <div class="col-2">

        </div>
        <div class="col-9 partner-dashboard">
            <div class="row">
                <div class="dashboard-header">
                    <div class="dashboard-header__partner-avatar">
                        <img src="../images/avatar.jpg" alt="avatar">
                        <div class="partner-name">
                            <span>Alex B.</span>
                            <div class="partner-level">Level 1</div>
                        </div>
                    </div>
                    <div class="dashboard-header__partner-nav">

                    </div>
                </div>
            </div>
        </div>
         </div>
</div>