
            <div class="row">
                <div class="dashboard-header">
                    <div class="dashboard-header__partner-avatar">
                        <img src="images/avatar.jpg" alt="avatar">
                        <div class="partner-name">
                            <span>Alex B.</span>
                            <div class="partner-level">Level 1</div>
                        </div>
                    </div>
                    <div class="dashboard-header__partner-nav">
                        <ul class="partner-nav__list">
                            <li class="partner-nav__item dashboard partner-nav__item-active">
                                <a href="#">
                                    <span>Dashboard</span>
                                    <img src="images/dash.png" alt="Dashboard">
                                </a>
                            </li>
                            <li class="partner-nav__item team">
                                <a href="#">
                                    <span>Team</span>
                                    <img src="images/team.png" alt="Team">
                                </a>
                            </li>
                            <li class="partner-nav__item pool">
                                <a href="images/pool.png">
                                    <span>Pool</span>
                                    <img src="images/pool.png" alt="Pool">
                                </a>
                            </li>
                            <li class="partner-nav__item comission">
                                <a href="#">
                                    <span>Comission</span>
                                    <img src="images/commision.png" alt="Comission">
                                </a>
                            </li>
                            <li class="partner-nav__item account">
                                <a href="#">
                                    <span>Account</span>
                                    <img src="images/account.png" alt="Account">
                                </a>
                            </li>
                            <li class="partner-nav__item settings">
                                <a href="#">
                                    <span>Settings</span>
                                    <img src="images/Settings.png" alt="Settings">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
