<div class="container-fluid">
    <div class="row">
        <div class="col-2">
    
        </div>
        <div class="col-4 empty-cart">
            <h2>Mein Warenkorb</h2>
            <p class="">
                Moderne digitale Abholstation ist unser neue Produkt! Hoffentlich es wird Sie interessieren!
            </p>
            <button>
                Zurück zum Shop
            </button>
        </div>
        <div class="col-4 empty-cart-img">
            <img class="img-fluid" src="images/box.png" alt="empty box">
        </div>
    </div>
</div>