<footer class="main-footer">
    <div class="container-fluid">
    <div class="row">
    
        <div class="col-4" >
            <div class="footer-logo">
                <img src="images/footer-logo.png" alt="world of lokers">
                    <div class="footer-copyright">©2020 WORLD OF LOCKERS, INC.</div>
                    </div>
        </div>
        <div class="col-2" >
            <ul class="footer-agb">
                <li class="agb-item"><a href="#">AGB für Partner</a></li>
                <li class="agb-item"><a href="#">AGB für Investoren
                </a></li>
                <li class="agb-item"><a href="#">AGB für die Finanzierung</a></li>
            </ul>
        </div>
        <div class="col-2" >
            <ul class="footer-link">
                <li class="link-item"><a href="#">Blog</a></li>
                <li class="link-item"><a href="#">Contact</a></li>
                <li class="link-item"><a href="#">About us</a></li>
            </ul> 
        </div>
        <div class="col-4" >
            <ul class="footer-contact">
                <li class="contact-item">
                    <a href="tel:+4901736740861" class="tel">
                        <img src="images/phone.png" alt="tel">
                        <span>+49 (0) 173-674 08 61</span>
                    </a>
                </li>
                <li class="contact-item">
                    <a href="mailto:info@world-of-lockers.com" class="email">
                        <img src="images/email.png" alt="email">
                        <span>info@world-of-lockers.com</span>
                    </a>
                </li>
                <li class="contact-item contact-item-addres">
                        <img src="images/position.png" alt="position">
                        <span>WORLD OF LOCKERS, INC., 848 Brickwell Avenue (Plaza PH5), Miami, FL 33131, USA</span>
                   
                </li>
            </ul>
        </div>
    </div>  
    <div class="row">
        <div class="col-12">
            <div class="footer-footer">
                <ul class="impressum-atenschutz">
                  <li class="impressum-atenschutz__item"><a href="#"><span>Impressum
                  </span></a></li>
                  <li class="impressum-atenschutz__item"><a href="#"><span>Datenschutz
                  </span></a></li>
              </ul> 
              <ul class="social">
                  <li><a href="#"><img src="images/Facebook.png" alt="faceboobk"></a></li>
                  <li class="mail"><a href="#"><img src="images/mail.png" alt="email"></a></li>
              </ul>  
              </div>
        </div>
    </div>  
    </div>
</footer> 