<footer>
<div class="footer__text1 text">
    <p>Title</p>
    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore sint itaque non tempora facilis sed dicta, placeat accusamus eligendi beatae vitae voluptas odio quasi odit mollitia sequi neque ex. Vero.</span>
</div>
<div class="footer__text2 text">
     <p>Title</p>
         <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore sint itaque non tempora facilis sed dicta, placeat accusamus eligendi beatae vitae voluptas odio quasi odit mollitia sequi neque ex. Vero.</span>

</div>
<div class="footer__text3 text">
     <p>Title</p>
         <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore sint itaque non tempora facilis sed dicta, placeat accusamus eligendi beatae vitae voluptas odio quasi odit mollitia sequi neque ex. Vero.</span>

</div>
</footer>