<div class="container-fluid">
    <div class="row">
        <div class="col-2">

        </div>
        <div class="col-9 full-cart">
            <h2>Mein Warenkorb</h2>
            <div class="table-wrapper">
                <button class="table-button-delete">Delete</button>
            <table class="table table-bordered full-cart-table">
                
                    <tr class="">
                        <td><img class="img-fluid" src="images/mini-safe.png" alt="mini-safe"></td>
                        <td >
                            <div class="full-cart__product">
<div >
    <p>Produktname</p>
    <span>Safe</span>
</div>
<div class="">
    <p>Preis</p>
    <span>65 000 00 €</span>
</div>
</div>

                        </td>
                        <td>
                            <div class="safe-button__minus">
                               <button><img src="images/minus.png" alt=""></button>
                            <span>1 Safe</span> 
                            </div>
                            
                        </td>
                        <td>
                            <span class="count-safe">4</span>
                        </td>
                        <td>
                            <div class="safe-button__plus">
                              <button><img src="images/plus.png" alt=""></button>
                            <span>1 Safe</span>  
                            </div>
                        </td>
                    </tr>
                
            </table>
        </div>
        <div class="full-cart__footer">
            <div class="summa">
                <div class="">Gesamtsumme:&nbsp;</div>
                 <span>260.000,00 €</span>
            </div>
            <div class="full-cart__footer-checkout">
                <div class="">Anzahl der Artikel:&nbsp;</div>
                <span> 4</span>
                <button class="full-cart__footer-checkout-button">
                    Checkout
                </button>
            </div>
        </div>

        </div>
    </div>
</div>