<header class="header">
  <div class="main-header">
  <div class="main-header-logo">
    <img src="images/wol-logo.jpg" alt="World of lockers" >
    <h1>UNSERE DIGITALE ABHOLSTATION
      <span>macht Liefern und Aufbewahren einfach zeitgemäßer.</span>
      </h1>

  </div>
  <div class="main-header__investor-or-partner">
    <button>I’m an investor</button>
    <span>or</span>
    <button>I’m an partner</button>
  </div>
  <div class="main-header__language">
    <button class="de">DE</button>
    <button class="en">EN</button>
  </div>
  <div class="main-header__log-in">
    <button><img src="images/login.png" alt="login"></button>
    <div class="line"></div>
  </div>
  <div class="main-header__cart">
    <button><img src="images/cart.png" alt="cart"></button>
    <span class="cart-count">1</span>
    <span class="price">65k €</span>
    <div class="line2"></div>
  </div>
  </div>
</div>


</header>