<header class="main-header" id="header" >
 <div class="container-fluid">
<div class="row">
    <div class="col-md-6" >
        <div class="main-header-logo">
            <a class="header-img">
                <img src="images/wol_logo.jpg" alt="World of lockers" >
            </a>
            
            <h1>UNSERE DIGITALE ABHOLSTATION
              <span>macht Liefern und Aufbewahren<br> einfach zeitgemäßer.</span>
              </h1>
        
          </div>
        
    
    </div>
    <div class="col-md-6 header-right" >
        <div class="main-header__investor-or-partner">
            <button class="investor-login">Investor login</button>
            <button class="partner-login">Partner login</button>
          </div>
          <div class="main-header__language">
            <div class="language__wrap">
              <img class="language__img" src="images/de.jpg" alt="language">
            <button class="language__arrow-down">
              <img src="images/arrow-down.png" alt="arrow-down">
            </button>
          </div>
            <ul class="language-list hidden">
              <li class="language-item">
                <img class="chose-language" src="images/de.jpg" alt="DE"> 
                <p>DE</p> 
              </li>
              <li class="language-item">
                <img class="chose-language" src="images/usa1.jpg" alt="USA">
                <p>USA</p>
              </li>
              <li class="language-item">
                <img class="chose-language" src="images/ch.jpg" alt="CH">
                <p>CH</p>
              </li>
            </ul>
          </div>
          <div class="main-header__log-in">
            <button><img src="images/login.png" alt="login"></button>
            
          </div>
          <div class="main-header__cart">
            <button><img src="images/cart.png" alt="cart"></button>
            <span class="cart-count">1</span>
            <span class="price">65k €</span>
           
          </div>
          </div>
    </div>

    

</div>



</header>