<section class="How-is-work">
    <h2>SO FUNKTIONIERT<br> DAS MYLOCKER24-SYSTEM <span>kontaktlos zur postalischen Anwendung
        <div class="">EINZEL-HANDEL/ONLINE</div>
<ul class="how-is-works__list">
    <li class="how-is-works__item">
        <img src="images/gang.png" alt="KAUFVOR-GANG">
        <p>KAUFVOR-
            GANG</p>
        <span>Ware wie gewohnt im Internet bestellen.
        </span>
    </li>
    <li class="how-is-works__item">
        <img src="images/auswahlen.png" alt="ABHOLSTATION AUSWÄHLEN">
        <p>ABHOLSTATION 
            AUSWÄHLEN
            </p>
        <span>Bei Eingabe der Lieferadresse ganz einfach die nächstgelegene  MyLocker24-Box<br> auswählen.

        </span>
    </li>
    <li class="how-is-works__item">
        <img src="images/warw-zur.png" alt="LIEFERUNG DER WARE ZUR ABHOLSTATION">
        <p>LIEFERUNG DER WARE ZUR ABHOLSTATION

        </p>
        <span>Zusteller liefern die Ware an die  gewünschte Adresse und<br> hinterlegen Sie in einem<br> Schließfach.
        </span>
    </li>
    <li class="how-is-works__item">
        <img src="images/code-virt.png" alt="CODE WIRD VERSANDT">
        <p>CODE WIRD VERSANDT</p>
        <span>Wurde die Ware hinterlegt, erhalten  Kunden automatisch eine Nachricht  auf das Smartphone mit dem PIN  zur Abholung.
        </span>
    </li>
    <li class="how-is-works__item">
        <img src="images/ware.png" alt="ÖFFNEN UND WARE  ENTNEHMEN">
        <p>ÖFFNEN UND WARE  ENTNEHMEN</p>
        <span>Bei erfolgreicher PIN-Ein-  gabe öffnet sich das<br> Fach  und die Ware kann<br> entnommen werden.
        </span>

    </li>
</ul>
</section>