<main>
<section class="main-content">
    <div class="main-content__left-block">
        <h2>EINFACH SICHER IN JEDER SITUATION</h2>
        <img class="left-block__wol-img" src="images/wol.svg" alt="World of lokers">
    </div>
    <div class="main-content__rigth-block">
        <div class="rigth-block__post1">
            <p>name</p>
            <span>Safe</span>
            <!-- <p>Die MyLocker24-Box</p>
            <span>ist 5,40 Meter lang, über 2 Meter hoch, hat bis zu 11 Quadratmetern Werbefläche und fällt an jedem Standort ins Auge. Diese Box steht dort, 
                wo Werbebotschaften am besten wahrgenommen werden. </span> -->
        </div>
        <div class="rigth-block__post2">
            <p>price</p>
            <span>60 000 00 €</span>
            <!-- <p>Die MyLocker24-Box</p>
            <span>löst das zentrale Problem des Online- und Einzelhandels in der digitalen Welt. Rund um die Uhr können Pakete und Waren durch das System zugestellt und abgeholt werden. Unsere digitale Liefer- und Abholstation ist robust, sicher und durch verschiedenste Fachgrößen besonders flexibel.</span> -->
        </div>
        <button class="button-wol">Byu 1 Wol</button>
        <div class="button-footer">
            <button>+ Add 1 Wol</button>
            <button>- Minus 1 Wol</button>
        </div>
    </div>

</section>
<section class="advantures">
     <div class="advantures__content">
    <ul class="advantures-list">
        <li class="adventires-item">
            <p>24/7 Abholstation
            </p>
            <span>Pakete und Gegenstände jederzeit
                abholen – Tag und Nacht.
                Frei und flexibel. Ohne Stress.
                Für zufriedene Kunden.</span>
        </li>
        <li class="adventires-item">
            <p>24/7
                Lieferstation</p>
            <span>Zulieferungen rund um die Uhr.
                Für Einzelhändler, Paketdienste
                und Onlineshops. Waren
                einfach und sicher in der Abholstation
                verstauen.
                Auftrag
                erledigt.</span>
        </li>
        <li class="adventires-item">
            <p>Pakete in
                allen Größen</p>
            <span>Online per Smartphone oder 
                Computer einfach das passende 
                Schließfach
                buchen. Für Pakete
                und Waren jeder
                Größe.</span>
        </li>
        <li class="adventires-item">
            <p>Schließfächer für
                Unternehmen</p>
            <span>Pakete einfacher denn je ins Büro
                schicken lassen. Mit einer MyLocker24-Pickup-Station im Unternehmen. Für
                glückliche Mitarbeiter.</span>
        </li>
        <li class="adventires-item">
            <p>Kühlung
            </p>
            <span>PWare, die nicht zu warm
                werden darf? Kein Problem. Das Kühlsystem
                der MyLocker24-Box sorgt für optimale
                Temperaturen.</span>
        </li>
        <li class="adventires-item">
            <p>Werbung</p>
            <span>Die MyLocker24-Box ist mehr als nur ein Schließfach.
                 Sie ist zudem eine neue, attraktive und moderne Werbeplattform,
                  rund um die Uhr. Folierungen und Bildschirme für Videos – 
                  sowohl auf der Vorderseite als auch auf den Seitenflächen.</span>
        </li>
    </ul>
    <div class="advantures__content-button">
        <p class="advantures__content-button-title">Sie sind World of Lockers Direktinvestor und führen Ihr modernes Geschäft</p>
        <button class="advantures-button advantures__content-button-partner">Investor</button>

        
        <p class="advantures__content-button-title2">Sie sind World of Lockers Netzwerkmitglied und erhalten Bonuses für den Erfolg Ihres Investor- und Partnerteams</p>
        <button class="advantures-button advantures__content-button-investor">Partner</button>
    </div>
</div>


</section> 
    </main> 
