<div class="row partner-content"> 

<div class="partner-link">
    <h2>Hallo, Alex</h2>
    <p>Willkommen zurück!</p>
    <div class="link-referal">
        <span>Partner Link</span>
        <div class="copy-link">
            <div class="copy-link-container">httpwww/referal-098247</div>
            <div class="copy-link-button">
                Copy
            </div>
        </div>
    </div>
</div>
<div class="partner-clients">
    <ul class="parnter-clients-list">
        <li class="clients-item">
            <div class="clients-item__title">Mein Guthaben</div>
            <div class="clients-item__balance balance-active">55.000,00 € </div>
        </li>
        <li class="clients-item">
            <div class="clients-item__title">Mein Monatsumsatz <img src="images/i.png" alt="i"></div>
            <div class="clients-item__balance">55.000,00 € </div>
        </li>
        <li class="clients-item">
            <div class="clients-item__title">Mein Gesamtumsatz <img src="images/i.png" alt="i"></div>
            <div class="clients-item__balance">55.000,00 € </div>
        </li>
    </ul>
    
</div>
<div class="partner-team">
<h3>Mein team
    <img src="images/i.png" alt="i">
</h3>
    <div class="partner-team-count">
        155
    </div>
    <ul class="team-list">
        <li class="team-item">
            <img src="images/i.png" alt="i">
            <span>Direktpartner</span> <div></div> <span>30</span>
        </li>
        <li class="team-item">
            <img src="images/i.png" alt="i">
            <span>1 Ebene</span> <div></div> <span>55</span>
        </li>
        <li class="team-item">
            <img src="images/i.png" alt="i">
            <span>2 Ebene</span> <div></div> <span>70</span>
        </li>
    </ul>
</div>
       
  
</div>