<div class="container-fluid">
    <div class="row">
        <div class="col-2">

        </div>
        <div class="col-9 products">
            <h2>Produkte</h2>
            <div class="row">
            <div class="col-4 col-md-4">
                <div class="products__product">
                  <img class="img-fluid" src="images/medium-safe.png" alt="safe">
                <span>WoL — 1/4 Safe</span>  
                </div>
                <div class="products__footer">
                    <span>16.250,00 € </span>
                    <button>In den Warenkorb</button>
                </div>
                
            </div>
            <div class="col-4 col-md-4">
                <div class="products__product">
                  <img class="img-fluid" src="images/medium-safe.png" alt="safe">
                <span>WoL — 1/2 Safe</span>  
                </div>
                <div class="products__footer">
                    <span>32.500,00 € </span>
                    <button>In den Warenkorb</button>
                </div>  
            </div>
            <div class="col-4 col-md-4">
                  <div class="products__product">
                  <img class="img-fluid" src="images/medium-safe.png" alt="safe">
                <span>WoL — Safe</span>  
                </div>
                <div class="products__footer">
                    <span>65.000,00 € </span>
                    <button>In den Warenkorb</button>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>