<div class="container-fluid">
    <div class="row">
        <div class="col-md-7" >
            <div class="content-loker-img">
                <img class="img-fluid" src="images/lokerImg.svg" alt="Workd of Lokers">
            
            </div>
            </div>
            <div class="col-md-5 sale-content-wrapper"  >
                <div class="sale-content">
                    <div class="sale-name">
                        <p>Produktname</p>
                        <div>Safe</div>
                    </div>
                    <div class="sale-price">
                        <p>your percent</p>
                        <div class="">up to 14%</div>
                    </div>
                    <div class="sale-button">
                        <button class="jetzt-button">Become a partner</button>
                
                         <button class="partner-toggle">or I’m an investor</button>
                        <div class="change-count">
                            <button>Alle Preise sind zzgl. 20% MwSt.</button>
                           
                        </div>
                
                </div>
                </div>
                
            </div>
         
    </div>
</div>