<div class="row team-pagination">
    <ul class="team-pagination-list">
        <li class="team-pagination-item pagination-item__arrow-left">
            <img src="../images/arrow-balck-down.png" alt="arrow"></li>

            <li class="team-pagination-item">1</li>
            <li class="team-pagination-item">2</li>
            <li class="team-pagination-item">3</li>

            <li class="team-pagination-item">.</li>
            <li class="team-pagination-item">.</li>
            <li class="team-pagination-item">.</li>

            <li class="team-pagination-item">10</li>
            <li class="team-pagination-item">11</li>
            <li class="team-pagination-item">12</li>



            <li class="team-pagination-item pagination-item__arrow-right">
                <img src="../images/arrow-balck-down.png" alt="arrow"></li>
    </ul>
</div>