<div class=" row withdraw-payment-2">
    <form action="#.php">
<div class="withdraw-payment__header-2">
    <h3>Put 6-digital code, which sent on your e-mail</h3>
    <label for="code">
        <div>6-digital code</div>
        
        <input type="text" id="code" placeholder="18-67-98" maxlength="8" minlength="8">
    </label>
</div>
<div class="withdraw-payment__send">
    <input type="submit" value="Send ">
    <a href="#">If you don't become a code, please <span>click here.</span> </a>
</div>
</form>
    </div>