<div class=" row withdraw-payment">
    <form action="#.php">
<div class="withdraw-payment__header">
    <h2>Put PAYment information</h2>
    <label for="amount">Amount to withdraw
        <input type="text" id="amount" required placeholder="200 €">
        <span>*min. to withdraw are 200 €</span>
    </label>
</div>
<div class="withdraw-payment__content">
    <label for="full-name">Full name
        <input type="text" id="full-name" placeholder="Socol Alex Norman" disabled>
    </label>
    <label for="iban">IBAN
        <input type="text" id="iban" placeholder="DE89 3704 0044 0532 0130 00">
    </label>
    <label for="bic">BIC
        <input type="text" id="bic" placeholder="BCCCCDDTSPARK1">
    </label>
</div>
<div class="withdraw-payment__send">
    <input type="submit" value="Send ">
    <a href="#">Return back</a>
</div>
</form>
    </div>