<div class=" row team-header">
    <ul class="team-header-list">
        <li>Name</li>
        <li>Status</li>
        <li>Data Comission</li>
        <li>Level</li>
        <li>Umsatz</li>
        <li>Statement</li>
    </ul>
    </div>
    <div class="row team-employee comission-block">
        <div class="employeers">
            
            <div class="employeers-wrapper">
                
            <ul class="employeers-list" style="top: 0" >

                <li class="employeers-item">
                    <ul class="employeers-item__data employeers-item__data--comission">
                        <li class="item__data-name item__data-name--comission">Alex B.</li>
                        <li class="item__data-level status-level in-processing">In Processing</li>
                        <li class="item__data-level item__data-date">August 18, 2020, 2:49 pm</li>
                        <li class="item__data-level data-direct">Direct</li>
                        <li class="item__data-level">6 500 €</li>
                        <li class="item__data-level data-level-icon--comission">
                            <a href="https://vmwork.github.io/WOL/build/images/is-ok.svg" download="" title="Datei herunterladen
                            ">
                                <svg width="24" height="31" viewBox="0 0 24 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12 12V21.4286V12ZM12 21.4286L7.28571 16.7143L12 21.4286ZM12 21.4286L16.7143 16.7143L12 21.4286ZM19.8571 29.2857H4.14286C3.30932 29.2857 2.50992 28.9546 1.92052 28.3652C1.33112 27.7758 1 26.9764 1 26.1429V4.14286C1 3.30932 1.33112 2.50992 1.92052 1.92052C2.50992 1.33112 3.30932 1 4.14286 1H12.9209C13.3376 1.00009 13.7372 1.16571 14.0319 1.46043L22.5396 9.96814C22.8343 10.2628 22.9999 10.6624 23 11.0791V26.1429C23 26.9764 22.6689 27.7758 22.0795 28.3652C21.4901 28.9546 20.6907 29.2857 19.8571 29.2857Z" stroke="#DF2525" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                    
                            </a></li>
                    </ul>
                </li>
                <li class="employeers-item">
                    <ul class="employeers-item__data employeers-item__data--comission">
                        <li class="item__data-name item__data-name--comission">Alex B.</li>
                        <li class="item__data-level status-level declined ">Declined</li>
                        <li class="item__data-level item__data-date">August 18, 2020, 2:49 pm</li>
                        <li class="item__data-level data-direct">Direct</li>
                        <li class="item__data-level">6 500 €</li>
                        <li class="item__data-level data-level-icon--comission">
                            <a href="https://vmwork.github.io/WOL/build/images/is-ok.svg" download="" title="Datei herunterladen
                            ">
                                <svg width="24" height="31" viewBox="0 0 24 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12 12V21.4286V12ZM12 21.4286L7.28571 16.7143L12 21.4286ZM12 21.4286L16.7143 16.7143L12 21.4286ZM19.8571 29.2857H4.14286C3.30932 29.2857 2.50992 28.9546 1.92052 28.3652C1.33112 27.7758 1 26.9764 1 26.1429V4.14286C1 3.30932 1.33112 2.50992 1.92052 1.92052C2.50992 1.33112 3.30932 1 4.14286 1H12.9209C13.3376 1.00009 13.7372 1.16571 14.0319 1.46043L22.5396 9.96814C22.8343 10.2628 22.9999 10.6624 23 11.0791V26.1429C23 26.9764 22.6689 27.7758 22.0795 28.3652C21.4901 28.9546 20.6907 29.2857 19.8571 29.2857Z" stroke="#DF2525" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                    
                            </a></li>
                    </ul>
                </li>
                <li class="employeers-item">
                    <ul class="employeers-item__data employeers-item__data--comission">
                        <li class="item__data-name item__data-name--comission">Alex B.</li>
                        <li class="item__data-level status-level completed">Completed</li>
                        <li class="item__data-level item__data-date">August 18, 2020, 2:49 pm</li>
                        <li class="item__data-level data-direct">Direct</li>
                        <li class="item__data-level">6 500 €</li>
                        <li class="item__data-level data-level-icon--comission">
                            <a href="https://vmwork.github.io/WOL/build/images/is-ok.svg" download="" title="Datei herunterladen
                            ">
                                <svg width="24" height="31" viewBox="0 0 24 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12 12V21.4286V12ZM12 21.4286L7.28571 16.7143L12 21.4286ZM12 21.4286L16.7143 16.7143L12 21.4286ZM19.8571 29.2857H4.14286C3.30932 29.2857 2.50992 28.9546 1.92052 28.3652C1.33112 27.7758 1 26.9764 1 26.1429V4.14286C1 3.30932 1.33112 2.50992 1.92052 1.92052C2.50992 1.33112 3.30932 1 4.14286 1H12.9209C13.3376 1.00009 13.7372 1.16571 14.0319 1.46043L22.5396 9.96814C22.8343 10.2628 22.9999 10.6624 23 11.0791V26.1429C23 26.9764 22.6689 27.7758 22.0795 28.3652C21.4901 28.9546 20.6907 29.2857 19.8571 29.2857Z" stroke="#DF2525" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                    
                            </a></li>
                    </ul>
                </li>
                <li class="employeers-item">
                    <ul class="employeers-item__data employeers-item__data--comission">
                        <li class="item__data-name item__data-name--comission">Alex B.</li>
                        <li class="item__data-level status-level in-processing">In Processing</li>
                        <li class="item__data-level item__data-date">August 18, 2020, 2:49 pm</li>
                        <li class="item__data-level data-direct">Direct</li>
                        <li class="item__data-level">6 500 €</li>
                        <li class="item__data-level data-level-icon--comission">
                            <a href="https://vmwork.github.io/WOL/build/images/is-ok.svg" download="" title="Datei herunterladen
                            ">
                                <svg width="24" height="31" viewBox="0 0 24 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12 12V21.4286V12ZM12 21.4286L7.28571 16.7143L12 21.4286ZM12 21.4286L16.7143 16.7143L12 21.4286ZM19.8571 29.2857H4.14286C3.30932 29.2857 2.50992 28.9546 1.92052 28.3652C1.33112 27.7758 1 26.9764 1 26.1429V4.14286C1 3.30932 1.33112 2.50992 1.92052 1.92052C2.50992 1.33112 3.30932 1 4.14286 1H12.9209C13.3376 1.00009 13.7372 1.16571 14.0319 1.46043L22.5396 9.96814C22.8343 10.2628 22.9999 10.6624 23 11.0791V26.1429C23 26.9764 22.6689 27.7758 22.0795 28.3652C21.4901 28.9546 20.6907 29.2857 19.8571 29.2857Z" stroke="#DF2525" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                    
                            </a></li>
                    </ul>
                </li>
               
               
               
                
              

            </ul>
          
            

        </div>
        
        </div>
       
       
    </div>
      @@include('_team-pagination.html')
    <div class="withdraw-button-block">
      <a href="#" class="withdraw-button withdraw-button-disable">Withdraw</a>
        <div class="withdraw-i">
            <img src="images/i2.png" alt="">
            <div class="withdraw-popap">
                <h3>You can withdraw your money, if:</h3>
                <p>— your balance is from 200€ or more;</p>
                   <p> — you’ve got an identity verefication.</p>
                   <a href="#">Verify here</a>
            </div>
        </div>
    </div>