<section class="countries">
    <ul class="countries-list">
        <li class="countries-item">
            <img src="images/france.png" alt="France">
            <p>Frankreich</p>
        </li>
        <li class="countries-item">
            <img src="images/belgia.png" alt="Belgium">
            <p>Belgien</p>
        </li>
        <li class="countries-item">
            <img src="images/usa.png" alt="USA">
            <p>USA</p>
        </li>
        <li class="countries-item">
            <img src="images/deuhsland.png" alt="Germany">
            <p>Deutschland
            </p>
        </li>
        <li class="countries-item">
            <img src="images/niderland.png" alt="Netherlands">
            <p>Niederlande
            </p>
        </li>
        <li class="countries-item">
            <img src="images/thaichan.png" alt="Czech Republic">
            <p>Tschechien
            </p>
        </li>
        <li class="countries-item">
            <img src="images/tukish.png" alt="Turkey">
            <p>Türkei</p>
        </li>
        <li class="countries-item">
            <img src="images/luxemburg.png" alt="Luxembourg">
            <p>Luxemburg</p>
        </li>
        <li class="countries-item">
            <img src="images/polen.png" alt="Poland">
            <p>Polen</p>
        </li>
        <li class="countries-item">
            <img src="images/zypern.png" alt="Cyprus">
            <p>Zypern</p>
        </li>
        <li class="countries-item">
            <img src="images/estarage.png" alt="Austria">
            <p>Österreich</p>
        </li>
    </ul>
</section>