<div class="myloker24-left-block">
  <p class="myloker24-left-block__title">EIN GELUNGENER AUFTRITT</p>
<h2>DIE MYLOCKER24
    SAFETY BOX
    </h2>
    <p class="myloker24-left-block__title2">Die Lösung: MyLoker24
    </p> 
    <ul class="myloker24-list">
        <li class="myloker24-item">
            <img src="images/1.png" alt="1">
            <span>WORLD OF LOCKERS entwickelt
                weltweit das größte Netz an Depots
                im öffentlichen Raum.</span>
        </li>
        <li class="myloker24-item">
            <img src="images/2.png" alt="2">
            <span>Zentrale Standorte in Deutschland
                und Europa sind bereits gesichert.
                </span>
        </li>
        <li class="myloker24-item">
            <img src="images/3.png" alt="3">
            <span>Aktuelle Studien zeigen hohe Akzeptanz
                bei Bürgern und einen Bedarf
                von einer Abholstation pro 500 Einwohner.</span>
        </li>
        <li class="myloker24-item">
            <img src="images/4.png" alt="4">
            <span>System von WORLD OF LOCKERS ist für Zusteller sehr günstig und umweltfreundli.</span>
        </li>
        <li class="myloker24-item">
            <img src="images/5.png" alt="5">
            <span>WORLD OF LOCKERS ermöglicht
                allen Anbietern die Nutzung seiner
                MyLocker24-Boxen.</span>
        </li>
    </ul>
</div>
