html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {

  height: 100%;
  // max-width: 1920px;
  // margin: 0 auto;
  // position: relative;
  font-family: "Avenir", sans-serif!important;
  overflow-x: hidden;
  // body{
  //   display: flex;
  //   flex-direction: column;
  // }

  main{
    max-width: 1920px;
  margin: 0 auto;
  }

  

}
button{
  cursor: pointer;
  border: none;
  background-color: transparent;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
li{
  list-style: none;
}
button:focus,
input:focus {
  outline: transparent;
}