@mixin  font($f-name, $f-style, $f-weight, $f-url){
	@font-face{
		font-family: $f-name;
		font-style: $f-style;
		font-weight: $f-weight;
		src: url($f-url) format('woff2');
	
	}}
	

@include font('Avenir', regular, 300, '../fonts/Avenir-Light.woff2');
@include font('Avenir', mediumr, 500, '../fonts/Avenir-Medium.woff2');
@include font('Avenir', book, 600, '../fonts/Avenir-Book.woff2');
@include font('Avenir', heavy, 800, '../fonts/Avenir-Heavy.woff2');
@include font('Avenir', black, 900, '../fonts/Avenir-Black.woff2');
 

