@media(max-width:1440px){
    .main-content__left-block h2{
        font-size: 32px;
    }
    .adventires-item{
        width: 320px;
    }
}
@media(max-width:1366px){
    .header-rigth-block{
        margin-right: 50px;
    }
    .main-content__left-block h2{
        font-size: 28px;
    }
    .adventires-item{
        width: 380px;
    }
}
@media(max-width:1024px){
    .rigth-block__post1 p, .rigth-block__post2 p{
        font-size: 18px;
        line-height: 38px;
      
    }
    .rigth-block__post1 span, .rigth-block__post2 span{
        font-size: 14px;
        line-height: 29px;
        width: 50%;
   
    }

    .adventires-item{
        width: 450px;
    }
}