@media (max-width:1680px){
    .footer-agb{
        margin-left: 15px;
        
    }
    .footer-link{
        margin-left: 50px;
     }
     .impressum-atenschutz{
         width: 500px;
     }
     .main-footer ul a{
         font-size: 14px;
     }
     .contact-item-addres span{
        font-size: 14px;
        max-width: 200px;  
     }
     .advantages-slider-wrapper.col-10{
         flex: 0 0 78%;
     }
     .products .row, .products{
        //  max-width: 1000px;
        margin: 0 auto;
        margin-bottom: 50px;
        justify-content: center;
        align-content: center;
     }
     .products .col-4{
        min-width: 305px;
        
     }
     .products__footer button{
         margin-left: 0;
     }
     .products__product img{
         max-width: 100%;
     }
}
@media (max-width:1280px){
    .impressum-atenschutz{
        width: 800px;
    }
    .advantages-slider-wrapper{
        max-width: 100%;;
    }
    .main-header__investor-or-partner{
        margin-left: 0;
        font-size: 14px;
        line-height: 26px;
    
        padding-top: 1px;
    }
    .main-header-logo h1 {
        margin-right: 0%;
        margin-left: 10px;
        font-size: 12px;
        width: 200px;
    }
    .main-header__cart span{
        display: block;
    }
    .footer-logo{
        margin: 0;
    }
    .footer-link {
        margin-left: 30px;
    }
    .agb-item{
        min-width: 140px;
       
    }
    .main-footer ul a, .contact-item-addres span {
        max-width: 150px;
        font-size: 12px;
    }
    .impressum-atenschutz, .social {
        width: 300px;
        margin: 0;
    }
    .img-fluid{
        width: 100%;
    }
    .advantages-slider-wrapper.col-10 {
  
        flex: 0 0 85%;
        margin-top: 30px;
    }
    .empty-cart-img{
        top: 100px;
    }
    .full-cart__product{
        margin-left: 0;
    }
    .summa span{
        font-size: 24px;
        margin-top: 20px;
    }
 
}
@media (max-width:1100px){
    .advantages-slider{
        margin-left: 150px;
    }
    .advantages-content{
        width: 600px;
    }
    .arrows__line1{
        width: 412px;
    }
    .arrows__line2{
        width: 206px;
    }
    .arrows{
        left: 425px;
        bottom: 20px;
    }
    .full-cart__footer{
        flex-direction: column;
    }
    .full-cart-table tr{
        display: flex;
        flex-direction: column;
    }
    .full-cart-table tr img{
        max-width: 292px;
    }
    .full-cart__product{
        margin-left: auto;
        margin-right: auto;
    }
 .count-safe{
    margin: 10px auto;
 }
 .full-cart__footer-checkout{
     margin-bottom: 25px;
 }
 .main-header__investor-or-partner{
    
	margin-right: 0.5%;

}
.main-header-logo h1{
    padding-top: 9px;
}
}
@media (max-width:990px) {
    .main-header-logo h1{
       display: none;
    }
    .main-header__investor-or-partner{
        width: auto;
    }
}
@media (max-width:767px){
    .main-header-logo h1{
       width: 200px;
    }
    .main-header .row{
        height: 100%;
        color: #ffffff;
        background-color: #DF2525;
    }
    .main-header-logo{
        display: flex;
        justify-content: center;
    }
    .header-right{
        display: flex;
        justify-content: space-around;
    }
    .main-header__investor-or-partner{
        flex-grow: 3;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .main-footer .row{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .main-footer .col-4{
        max-width: 475px;
        
        
    }
    .footer-logo{
        margin: 0 auto;
        justify-content: center;
        align-items: center;
    }
    .footer-agb, .footer-link, .footer-contact{
        max-width: 475px; 
        min-width: 320px;
        display: flex;
        margin-left: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-bottom: 2px solid white;

    }
    .main-footer .col-2{
        max-width: 475px;   
    }
    .agb-item, .link-item, .contact-item{
      width: 200px;
    }
    .impressum-atenschutz{
        margin-left: 0;
        max-width: 320px;
    }
    .social{
        margin-right: 0;
    }
    .advantages-slider-wrapper.col-10 {
        display: none;
    }
    .sale-content{
        margin-top: 25px;
        margin-left: 20px;
        max-width: 300px;
    }
    .sale-price div, .sale-name div{
        font-size: 36px;
    }
    .sale-button .jetzt-button{
        width: 125px;
    }
    .partner-toggle{
        font-size: 12px;
    }
    .change-count button{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .empty-cart h2{
        font-size: 36px;
    }
    .empty-cart p{
        font-size: 14px;
    }
    .empty-cart-img{
        top: 190px;
    }
    .summa{
        flex-direction: column;
        
    }
    .full-cart__footer-checkout{
        flex-wrap: wrap;
    }
    .full-cart__footer-checkout-button{
        margin-left: 0;
    }
 
}
@media (max-width:500px){
    .menu{
        flex-wrap: wrap;
    }
    .menu li {
        padding-top: 10px;
        height: auto;
    }
    .main-header__cart {
        min-width: 120px;
    }
}
@media (max-width:374px){
    .main-header__cart {
        min-width: 50px;
    }
}