@media(min-width: 1921px){
    .main-header-logo{
    
        margin-left: 24%;  
    }
    .sale-block{
        margin-left: 22%;  
    }
}
@media(max-width:1625px){
    .main-header-logo{
        margin-left: 100px; 
    }
    .main-header__investor-or-partner{
        margin-left: 100px;
    }
    .sale-block{
        margin-left: 0px;  
    }
}
@media(max-width:1250px){
    .main-header-logo{
        margin-left: 0px;   
    }
    .main-header__investor-or-partner{
        margin-left: 10px;
    }
    .main-header__language{
        margin-left: 5px;
    }

}
