@media(min-width: 1921px){
    .main-header-logo{
    
        margin-left: 24%;  
    }
    .sale-block{
        margin-left: 22%;  
    }
}
@media(max-width:1600px){
    .main-header-logo{
        margin-left: 100px; 
    }
    .main-header__investor-or-partner{
        margin-left: 100px;
    }
    .sale-block{
        margin-left: 0px;  
    }
   
   
}

@media(max-width:1250px){
    .main-header-logo{
        margin-left: 0px;   
    }
    .main-header__investor-or-partner{
        margin-left: 10px;
    }
    .main-header__language{
        margin-left: 5px;
    }
    .content-loker-img{
        margin-top: 30px;
        width: 48%;
        height: auto
     }
     .content-loker-img img{
        width: 100% ;
     }
    .content-loker-img{
        margin-top: 100px;
        
     }
     .advantages-slider{
         margin-top: 40px;
        margin-left: 20px;
    }
    .myloker24-left-block{
        padding-left: 5%;
    }
    .myloker24-left-block__title{
        margin-top: 16px;
    }


}
@media (min-width:1024px) and (max-width:1365px){
    .myloker24-left-block h2{
          font-size: 36px;
          line-height: 40px;
        }
        .myloker24-left-block__title2{
        font-weight: 500;
        font-size: 22px;
        line-height: 30px;
        margin-top: 10px;
        color: #FFFFFF;
        }
        .countries-wrapper {
            width: 1024px;
            
            margin: 0 auto;
        }
        .countries-list{
            width: 900px;
        }
        .How-is-work{
            width: 1024px;
            padding-bottom: 1000px;
            margin: 0 auto;
        }
        .how-is-works__list{
            flex-wrap: wrap;
            width: 900px;
        }
        .footer{
            width: 1024px;
            // display: none;
            
            margin: 0 auto;
        }
        .myloker24-rigth-block{
            padding-bottom: 50px;
        }
}
@media(min-width: 1366px){
    .content-loker-img{
        margin-top: 30px;
        width: 52%;
        height: auto
     }
     .content-loker-img img{
        width: 100% ;
     }
     .advantages-slider{
        margin-top: 0px;
       margin-left: 50px;
   }
   .myloker24-left-block{
    padding-left: 5%;
}
.myloker24-left-block__title{
    margin-top: 16px;
}
.countries-wrapper {
    width: 1366px;
    
    margin: 0 auto;
}
.How-is-work{
    width: 1366px;
    
    margin: 0 auto;
}
.footer{
    width: 1366px;
    
    margin: 0 auto;
}
}
@media(min-width: 1440px){
    .content-loker-img{
        margin-top: 30px;
        width: 52%;
        height: auto
     }
     .content-loker-img img{
        width: 100% ;
     }
     .advantages-slider{
   
        margin-top: -20px;
    }
    .countries-wrapper {
        width: 1440px;
        
        margin: 0 auto;
    }
    .How-is-work{
        width: 1440px;
        
        margin: 0 auto;
    }
    .footer{
        width: 1440px;
        
        margin: 0 auto;
    }
     
}

@media(min-width:1600px){
    .content-loker-img{
        margin-top: 30px;
        width: 47%;
        height: auto
     }
     .content-loker-img img{
        width: 100% ;
     }
     .advantages-slider{
        margin-left: 80px;
        margin-top: -20px;
    }
    .myloker24-left-block{
        padding-left: 10.5%;
    }
    .myloker24-left-block__title{
        margin-top: 56px;
    }
    .countries-wrapper {
        width: 1600px;
        
        margin: 0 auto;
    }
    .How-is-work{
        width: 1600px;
        
        margin: 0 auto;
    }
    .footer{
        width: 1600px;
        
        margin: 0 auto;
    }
}
@media(min-width:1920px){
    .content-loker-img{
        margin-top: 0;
        width: 838px;
        height: 416px;
     }
     .content-loker-img img{
        width: 100% ;
     }
     .advantages-slider{
        position: relative;
        z-index: 2;
        margin-top: -20px;
        margin-left: 317px;
    }
    .myloker24-left-block{
        padding-left: 16.5%;
    }
    .myloker24-left-block__title{
        margin-top: 116px;
    }
    .countries-wrapper {
        width: 1903px;
        
        margin: 0 auto;
    }
    .How-is-work{
        width: 1903px;
        
        margin: 0 auto;
    }
    .footer{
        width: 1903px;
        
        margin: 0 auto;
    }
  
   
   
}
@media(min-width:1921px){
  .advantages-slider{
         width: 1300px;
         margin: 0 auto;
         margin-top: -20px;
     } 
     
}