@import 'vars';
@import 'fonts';
@import 'global';

//-----------------------------------------------------------------------------------------------------------
//
//                                                    START CODE
//
//-----------------------------------------------------------------------------------------------------------
body {
    background-color: #df2027;

  }
  header{
      position: relative;
      margin: 0 auto;
      display: flex;
      max-width: 1920px;
      justify-content: space-around;
      flex-wrap: wrap;
      z-index: 2;
    
  }
  .header__logo{
      width: 150px;
      height: 100px;
      text-align: center;
      background-color: #ffffff;
      
  }
  .header__logo img{
      padding-top: 20px;
      width: 100px;
      background-color: #ffffff;
  }
  .header__left-block{
      width: 30%;
      display: flex;
      justify-content: space-between;
      padding-top: 25px;
    //   border: 1px solid black;
  }
  header button{
      background-color: transparent;
      border: none;
      cursor: pointer;
  }
  .header__client-position{
    //   border: 1px solid green; 
      display: flex;
      justify-content: space-between;
      width: 50%;
  }
  .header__client-position button:hover{
    color: #000000;
    font-weight: 700;
  }
  .header__client-cabiten{
    // border: 1px solid yellow; 
    display: flex;
      justify-content: space-between;
    width: 30%;
  }
  .header__left-block button{
      color: #ffffff;
      font-size: 18px;
      
  }
  .cart{
      position: relative;
  }
  .cart span{
      display: block;
      position: absolute;
      top: 7px;
      right: -13px;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background-color: #be2422;
      color: #fff;
      font-size: 12px;
      padding-top: 7px;
  }
  .cart p{
      position: absolute;
      right: -50px;
      top: 25px;
  }


@media (max-width: 768px){
    .header__left-block{
        width: 30%;
    }
}
@media (max-width: 475px){
    header{
        align-items: center;
        flex-direction: column;
    }
  .header__left-block{
      width: 70%;
  
  }
}
.main{
    margin: 0 auto;
      display: flex;
      max-width: 1150px;
      flex-wrap: wrap;
      padding-top: 5%;
      color: #fff;
}
.aside{
    margin-left: 5%;
}
.aside p{
    margin-top: 15px;
}
.aside h1{
    margin-top: 15px;
}
.aside-price{
    margin-top: 40px;
}
.price{
    display: block;
    font-size: 60px;
    
}
.buy-safe{
    margin-top: 25px;
    width: 200px;
    margin-left: 50px;
    height: 50px;
    border-radius: 5px;
    border: none;
    font-weight: 700;
    font-size: 22px;
    background-color: #7d1422;
    cursor: pointer;
}
.buy-safe__footer{
    margin-left: 50px;
    display: flex;
    width: 200px;
    justify-content: space-between;
    font-size: 12px;
    margin-top: 10px;
  
}
.buy-safe__footer span{
      cursor: pointer;
}
footer{
    display: flex;
    margin: 0 auto;
    margin-top: 50px;
    max-width: 1150px;
    justify-content: flex-start;
    //    border: 1px solid yellow; 
       color: #fff;
}
.text{
    width: 15%;
    margin-left: 25px;
}
.footer__text1{
    margin-left: 0;
}
.rigth-line1{
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;
    background-color: #9f1922;
    z-index: 1;
}
.rigth-line2{
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    background-color: #7b1522;
    z-index: 1;
}

