@import 'vars';
@import 'fonts';
@import 'global';


//-----------------------------------------------------------------------------------------------------------
//
//                                                    START CODE
//
//-----------------------------------------------------------------------------------------------------------
.header{
   height:81.7px ; 
   border-bottom: 0.836598px solid rgba(255, 255, 255, 0.5);
   position: relative;
 
   
}
.main-header{
    margin: 0 auto;
    display: flex;
    color: #ffffff;
    height:81.7px ;
   
    
}
.main-header-logo{
    display: flex;
    margin-left: 317px;  
}
.main-header-logo h1{
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    margin-top: 16px;
    margin-left: 13.5px;
    letter-spacing: 0.25px;
    width: 226px;

}
.main-header-logo span{
    display: block;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    width: 190px;
    letter-spacing: 0.0px;
}
.main-header button{
    border: none;
    background-color: transparent;
    color: #FFFFFF;
}
.main-header button:hover{
    border-bottom: 0.699897px solid #FFFFFF;
}
.main-header__investor-or-partner{
    margin-top: 29px;
    margin-left: 240px;
    min-width: 308px;
}
.main-header__investor-or-partner span{
    margin-left: 15px;
    margin-right: 18px;
}
.main-header__language{
    margin-left: 85px;
    border-left: 0.699897px solid rgba(255, 255, 255, 0.5);
    height:81.7px; 
    display: flex;
    flex-direction: column;
    font-weight: 300;
font-size: 16px;
line-height: 22px;
}
.main-header .de{
    margin-top: 18px;
    border-bottom: 1px solid transparent;
  
}
.en{
    margin-top: 12px;
  
}
.main-header__log-in{
    position: relative;
    width: 57px;
    height:787px; 
    background: #9F1922;
    margin-left: 10px;
  
    
   
}
.main-header__log-in button{
    margin-top: 38px;
    margin-left: 12px;
  
}
.main-header__cart{
    position: relative;
    background: #7B1522;
    height:787px;
    flex-grow: 1;
}
.line{
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    height: 1px;
    margin-top: 17px;
}
.line2{
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    height: 1px;
    margin-top: 15px;  
}
.main-header__cart button{
    margin-top: 37px;
    margin-left: 16px;
}
.cart-count{
    position: absolute;
    top: 30px;
    left: 33px;
    font-weight: 800;
    font-size: 12px;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background: #DF2027;
    text-align: center;
    padding-top: 3px;

}
.price{
    position: relative;
    top: -5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    margin-left: 5px;
  

}
.sale-block{
    display: flex;
    margin-left: 241px;
    margin-top: 60px;
}
.content-loker-img{
   width: 838px;
   height: 416px;
}
.sale-content{
    color: #ffffff;
    font-weight: 300;
    margin-left: 10px;
    margin-top: 25px;
}
.sale-name div{
font-weight: 900;
font-size: 44px;
line-height: 65px;
color: #FFFFFF;
}
.sale-price p{
    margin-top: 20px;
}
.sale-price div{
font-weight: 900;
font-size: 44px;
line-height: 60px;
color: #FFFFFF;
}
.sale-button button{
    width: 186px;
    height: 54px;  
    background: #FFFFFF;
    border: none;
    border-radius: 2.79959px;
    color: #DF2027;
    margin-top: 48px;
    margin-left: 2px;
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;
}
.sale-button button:hover{
    background: #DF2027;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 4px;  
    color: #FFFFFF;
}
.partner-toggle{
    margin-left: 10px;
    cursor: pointer;
}
.change-count{
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #EFEFEF;  
    margin-top: 14px;
    display: flex;
    width: 186px;
    margin-left: 4px;
    cursor: pointer;
    justify-content: space-between;
}
.advantages-slider{
    position: relative;
    z-index: 2;
    margin-top: -20px;
    margin-left: 317px; 

  
   
}
.advantages-list{
    display: flex;
    color: #ffffff; 
    width: 1750px;
}
.advantages-item h2{
    font-weight: 800;
font-size: 18px;
line-height: 25px;
margin-bottom: 12px;
}
.advantages-item p{
    font-weight: 500;
font-size: 15px;

line-height: 146.1%;
}
.advantages-item:first-child p{
    width: 250px;
} 
.advantages-item:nth-child(2) h2{

    width: 282px;
}
.advantages-item:nth-child(2){
    margin-left: 45px;
    width: 274px;
}
.advantages-item:nth-child(3) h2{

    width: 243px;
}
.advantages-item:nth-child(3){
    margin-left: 45px;
    width: 380px;
 
}
.advantages-item:nth-child(4) h2{

    width: 233px;
}
.advantages-item:nth-child(4){
    margin-left: 45px;
    width: 380px;
 
}
.advantages-item:nth-child(5) h2{

    width: 353px;
}
.advantages-item:nth-child(5){
    margin-left: 30px;
    width: 330px;
 
}
.advantages-item:nth-child(6) h2{

    width: 300px;
}
.advantages-item:nth-child(6){
    margin-left: 10px;
   
 
}
.advantages-content{
    width: 900px;
    overflow: hidden;

}
.advantages-list{
    position: relative;
    right: 0px;
    // right: 890px;
    transition: 2s;
}

.advantages__arrows{
    position: relative;
}
.arrows__line1{
    position: relative;
    width: 824px;
    overflow: hidden;
    margin-top: 10px;
    border: 1px solid #ffffff;
    opacity: 0.3;
}
.arrows__line2{
    position: relative;
    top: -12px;
    left: 412px;
    left: 0;
    width: 412px;
    overflow: hidden;
    margin-top: 10px;
    border: 1px solid #ffffff;
    opacity: 1;
    transition: 2s;
}
.arrows{
    position: relative;
    left: 833px;
    bottom: 20px;
}
.arrows img{
    cursor: pointer;
}
.arrow-left img{
    transform: rotate(180deg);
    margin-right: 10px;
    
}
.arrow-left{
  opacity: 0.3;  
}

.myloker24{
    position: relative;
    margin-top: 65px;
    z-index: 10;
}
.myloker24-rigth-block{
    max-width: 1920px;
    margin: 0 auto;
}
.myloker24-rigth-block-img{
    max-width: 100%;
}
.myloker24-left-block{
    width: 992px;
    height: 732px;
    position: absolute;
    background: rgba(223, 37, 37, 0.8);
    margin-top: -2px;

}















// -----------------------------Media

@import 'media'