@import 'vars';
@import 'fonts';
@import 'global';


//-----------------------------------------------------------------------------------------------------------
//
//                                                    START CODE
//
//-----------------------------------------------------------------------------------------------------------
.main-header .row{
    height: 82px;
    color: #ffffff;
    background-color: #DF2525;
}
.main-header .container-fluid{
    padding: 0;
}
.main-header-logo{
    display: flex;
    justify-content: flex-end;
}
.main-header-logo {
display: flex;
height: 82px;
}
.main-header-logo a{
width: 187px;
height: 82px;
background-color: #ffffff;
display: flex;  
justify-content: center;
align-items: center;

}
.main-header-logo h1{
    display: block;
    width: 230px;
margin-left: 40px;
// margin-right: 172px;
margin-right: 16.5%;
font-size: 12px;
padding-top: 18px;
font-weight: normal;
line-height: 16px;

}
.main-header-logo h1 span{
    font-size: 12px;  
}
.hidden {
    display: none;
}
.header-right{
    display: flex;
    color: #ffffff;
    background-color: #DF2525;
    height: 82px;
    
}
.header-right a, .header-right button{
    color: #ffffff;
}
.header-right button:hover{
    border-bottom: 1px solid #ffffff;
   
}
.main-header__investor-or-partner{
    width: 306px;
    margin-left: 10.5%;
    padding-top: 28px;
    
}
.main-header__investor-or-partner button{
    margin-right: 8.5%;
   
}
.main-header__language{
    width: 85px;
    padding-top: 28px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
}
.language__wrap{
    margin-left: 24%;
}
.language__img{
    border: 1px solid #ffffff;
}
.language__arrow-down{
    margin-left: -10%;
    border: none;
}
.header-right .language__arrow-down:hover{
    border: none;
}
.language-list{
    background-color: rgba(223, 37, 37, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
}
.language-list.hidden{
    display: none;
}
.language-item{
    position: relative;
    z-index: 10;
    display: flex;
    width: 90%;
    // justify-content: space-around;
    margin-left: 25px;
    margin-top: 10px;
    
    cursor: pointer;
}
.language-item p{
    margin-left: 2px;
}
.main-header__log-in, .main-header__cart{
    padding-top: 28px;
}
.main-header__log-in{
    width: 57px;
    background-color: #9f1922;
    height: 82px;
}
.main-header__log-in button{
    margin-left: 25%;
}
.main-header__cart{
    height: 82px;
    padding-left: 2%;
    position: relative;
    background-color: #7b1522;
    flex-grow: 3;
}
.cart-count{
    position: absolute;
    top: 30%;
    // left: 8%;
    left: 35px;
    width: 18px;
    height: 18px;
    border: 1px solid #ffffff;
    background-color: #df2027;
    border-radius: 50%;
    line-height: 16px;
    font-size: 12px;
    text-align: center;
 

}
.content-loker-img{
    display: flex;
    justify-content: flex-end;
    margin-top: 70px;
    margin-right: -10px;
}
.col-md-5.sale-content-wrapper{
    padding-left: 0;
    margin-left: 0px;
}
.sale-content{
    margin-top: 100px;
    color: #DF2525;
}
.sale-name div{
    font-size: 50px;
    line-height: 30px;
    font-weight: 800;
    margin-top: 25px;
}
.sale-price{
    margin-top: 30px;
}
.sale-price div{
    font-size: 50px;
    line-height: 30px;
    font-weight: 800;
    margin-top: 25px;
   
}
.sale-button .jetzt-button{
    color: #ffffff;
    background-color: #DF2525;
    border-radius: 2px;
    width: 188px;height: 54px;
    margin-top: 55px;
    margin-right: 0px;
    margin-left: 10px;
}
.sale-button .jetzt-button:hover{
    background-color: transparent;
    color: #DF2525;
    border: 2px solid #DF2525;
}

.sale-button  button{
    color: #DF2525;
}
.change-count button{
    font-size: 12px;
}
.advantages-slider{
    position: relative;
    z-index: 2;
    margin-top: -5px;
     margin-left: -10px;
}
.advantages-list{
    display: flex;
    color: #df2027; 
    width: 1750px;
}
.advantages-item h2{
    font-weight: 800;
font-size: 18px;
line-height: 25px;
margin-bottom: 12px;
}
.advantages-item p{
    font-weight: 500;
font-size: 15px;

line-height: 146.1%;
}
.advantages-item:first-child p{
    width: 250px;
} 
.advantages-item:nth-child(2) h2{

    width: 282px;
}
.advantages-item:nth-child(2){
    margin-left: 45px;
    width: 274px;
}
.advantages-item:nth-child(3) h2{

    width: 243px;
}
.advantages-item:nth-child(3){
    margin-left: 45px;
    width: 380px;
 
}
.advantages-item:nth-child(4) h2{

    width: 233px;
}
.advantages-item:nth-child(4){
    margin-left: 45px;
    width: 380px;
 
}
.advantages-item:nth-child(5) h2{

    width: 353px;
}
.advantages-item:nth-child(5){
    margin-left: 30px;
    width: 330px;
 
}
.advantages-item:nth-child(6) h2{

    width: 300px;
}
.advantages-item:nth-child(6){
    margin-left: 10px;
   
 
}
.advantages-content{
    width: 900px;
    overflow: hidden;

}
.advantages-list{
    position: relative;
    right: 0px;
    // right: 890px;
    transition: 2s;
}

.advantages__arrows{
    position: relative;
}
.arrows__line1{
    position: relative;
    width: 824px;
    overflow: hidden;
    margin-top: 10px;
    border: 1px solid #df2027;
    opacity: 0.3;
}
.arrows__line2{
    position: relative;
    top: -12px;
    left: 412px;
    left: 0;
    width: 412px;
    overflow: hidden;
    margin-top: 10px;
    border: 1px solid #df2027;
    opacity: 1;
    transition: 2s;
}
.arrows{
    position: relative;
    left: 833px;
    bottom: 20px;
}
.arrows img{
    cursor: pointer;
}
.arrow-left img{
    transform: rotate(180deg);
    margin-right: 10px;
    
}
.arrow-left{
  opacity: 0.3;  
}
.advantages-slider-wrapper{
    display: flex;
justify-content: center;

}
.main-footer{
    background-color: #DF2525;
    color: #ffffff;
    padding-top: 115px;
    min-height: 489px;
}
.main-footer ul a{
    color: #ffffff;
}
.main-footer a:hover{
    border-bottom: 1px solid #ffffff;
}
.footer-logo{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
   margin-right: 100px;
   color: #000;
}
.footer-copyright{
    font-size: 12px;
    line-height: 38px;
}
.footer-agb{
    margin-left: 65px;
    
}
.agb-item{
  line-height: 45px;  
}
 .footer-link{
    margin-left: 105px;
 }
 .link-item{
    line-height: 45px; 
 }
 .footer-contact{
     margin-left: 35px;
 }
 .contact-item{
    line-height: 45px; 
    font-size: 22px ;
 }
 .contact-item span{
     margin-left: 5px;
     
 }
 .contact-item-addres {
     font-size: 18px;
     line-height: 36px;
     width: 300px;

     display: flex;
  
 }
 .contact-item-addres span{
     display: block;
     margin-left: 15px;
 }
 .footer-footer, .impressum-atenschutz, .social{
     display: flex;
     width: 100%;
    margin-top: 28px;
     
 }
 .impressum-atenschutz{
     margin-left: 300px;
     width: 350px;
     justify-content: space-between;
 }
 .social{
    margin-right: 290px;

 }
 .mail{
     margin-left: 10px;
 }
 
 .footer-footer{
    justify-content: center;
 }
 .social{
     justify-content: flex-end;
 }
 .breadcrumb{
     margin-top: 15px;
 }

 .breadcrumb-item+.breadcrumb-item::before {
    content: ""!important;
    color: #DF2525!important;
    background-image: url(../images/arrow.png);
    background-repeat: no-repeat;
    width: 10px;
    height: 20px;
    position: absolute;
    left: -13px;
    top: 3px;
  
}
.breadcrumb-item{
    position: relative;
    margin-right: 20px;
}
.cart{
    margin-top: 45px;
    padding: 0!important;

}
.breadcrumb{
    background-color: transparent!important;
    padding-left: 5px!important;
    display: flex;
    align-items: center;
}
.breadcrumb-item a{
    font-size: 18px;
    color: rgba(223, 37, 37, 0.5);
}
.breadcrumb-item a:hover{
    color: #DF2525;
}
.breadcrumb-item.active a{
    color: rgba(223, 37, 37, 1);
}
.empty-cart-img{
    position: relative;
    top: -25px;
    left: 0px;
}
.empty-cart{
    padding-left: 3px!important;
    margin-top: 75px;
    padding-bottom: 230px!important;
}
.empty-cart h2, .full-cart h2{
    font-size: 50px;
    font-weight: 900;
    color: #DF2525;
    
}
.full-cart {
margin-top: 75px;
padding-left: 3px!important;
min-height: 475px!important;
}
.empty-cart p{
    padding-top: 25px;
    font-size: 22px;
    font-weight: 600;
    color: #DF2525;
}
.empty-cart button{
    width: 205px;
    height: 54px;
    color: #ffffff;
    background-color: #DF2525;
    margin-top: 45px;
    border-radius: 3px;

}
.table-bordered td{
    border: 1px solid rgba(223, 37, 37, 0.5)!important;
}
.full-cart-table{
margin-top: 35px;
margin-left: 5px;
width: 100%;
border-collapse: collapse;

}
.table-wrapper{
    max-width: 1300px;
    position: relative;
}
.img-fluid{
    display: flex;
    // justify-content: center;
    // border: 1px solid rgba(223, 37, 37, 0.5)!important;
    margin-left: auto;
    margin-right: auto;
}
.full-cart__product{
display: flex;
margin-top: 20px;
justify-content: space-between;
max-width: 280px;
margin-left: 87px;
}
.full-cart__product span{
    line-height: 54px;
    color: #DF2525;
    font-size: 22px;
    
}
.safe-button__minus, .safe-button__plus{
    margin:  0 auto;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    width: 115px;
}
.safe-button__minus span, .safe-button__plus span{
color: #DF2525;
font-size: 22px;
line-height: 36px;

}
.count-safe{
    color: #DF2525;
    font-size: 22px;   
    display: block;
    margin-top: 10px;
    text-align: center;
    width: 45px;
    
}
.table-button-delete{
    position: absolute;
    top: -33px;
    right: 10px;
    color: rgba(122, 21, 34, 0.5);;
}
.full-cart__footer{
    display: flex;
    max-width: 1300px;
    justify-content: space-between;
}
.summa, .full-cart__footer-checkout{
    display: flex;
    margin-top: 50px;
    
}
.summa{
    align-items: baseline;
}
.summa div{
    font-size: 22px;
}
.summa span{
    font-size: 44px;
    font-weight: 900;
}
.full-cart__footer-checkout div,
.full-cart__footer-checkout span{
   color: #DF2525;
   font-size: 22px;
   margin-top: 20px;
   margin-right: 5px;

}

.full-cart__footer-checkout-button{
  width: 220px;
  height: 54px;
  background-color: #DF2525;  
  border-radius: 3px;
  color: #ffffff;
  margin-left: 10px;
  font-weight: 900;
  font-size: 16px;
  margin-right: 15px;
  margin-top: 5px;
}
.products h2{
   text-align: center;
   font-size: 44px;
   max-width: 1260px;
   margin-top: 60px;
}
.products{
  max-width: 1320px!important;  
  min-height: 615px!important;  
}
.products .col-4{
    padding-left: 0!important;
    
}
.products__product{
    max-width: 410px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #eaeaea;
    border-radius: 4px;
    margin-top: 55px;
}
.products__product img{
    margin-top: 20px;
}
.products__product span{
   color: #000; 
   font-size: 18px;
   font-weight: 600;
   margin: 0 auto;
   margin-top: -10px;
   padding-bottom: 10px;

}
.products__footer{
    margin-top: 35px;
}
.products__footer span{
    color: #DF2525;
    font-size: 22px;
}
.products__footer button{
   width: 270px;
   height: 54px;
   background-color: #DF2525; 
   border-radius: 4px;
   color: #ffffff;
   font-size: 16px;
   font-weight: 900;
   margin-left: 15px;
}
.products__footer button:hover{
    background-color: #ffffff; 
    color: #DF2525;
    border: 2px solid #DF2525;
}

// -----------------------------Media

@import 'media'