@import 'vars';
@import 'fonts';
@import 'global';


//-----------------------------------------------------------------------------------------------------------
//
//                                                    START CODE
//
//-----------------------------------------------------------------------------------------------------------
.header{
    margin: 0 auto;
    max-width: 1920px;
}
.main-header{
    display: flex;
    margin-left: 94px;
    color: #FFFFFF;
    max-width: 1273px;
}
.header-left-block{
    display: flex;
}
.header-left-block h1{
   margin-left: 26px; 
   width: 283px;
   margin-top: 29px;
   font-size: 16px;
    line-height: 22px;
}
.header-left-block h1 p{
font-weight: 800;
}
.header-left-block h1 span{
display: block;
width: 253px;
font-weight: 300;
}
.header-rigth-block{
    margin-left: auto;

    
}
.header-rigth-block button{
    background-color: transparent;
    border: none;
    color: #FFFFFF;
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
    // margin-top: 53px;
    margin-top: 29px;
    cursor: pointer;
}
.header-rigth-block button:hover{
    border-bottom: 1px solid #FFFFFF;
    
}
.header-rigth-block__Partner{
 margin-left: 77px;
}
.header-rigth-block{
    position: relative;
}
.header-rigth-block__investor-title,
.header-rigth-block__investor-title2{
    position: absolute;

}
.header-rigth-block__investor-title{
    width: 305px;
    right: 155px;
    bottom: -15px;
    text-align: right;
     display: none;
     background-color: #FFFFFF;
     color: #ED3037;
     padding: 10px 10px 10px 10px;
     border-radius: 10px;
     font-size: 16px;
}
.header-rigth-block__investor:hover .header-rigth-block__investor-title,
.header-rigth-block__Partner:hover .header-rigth-block__investor-title2{
    display: inline;
    
}
.header-rigth-block__investor-title2{
    width: 480px;
    right: 0px;
    bottom: -15px;
    text-align: right;
    display: none;
    background-color: #FFFFFF;
     color: #ED3037;
     padding: 10px 15px 10px 0;
     border-radius: 10px;
     font-size: 16px;
}

.main-content{
    margin: 0 auto;
    max-width: 1920px;
    display: flex;
    color: #FFFFFF;
}
.main-content__left-block picture source{
    display: none;
}
.main-content__left-block{
    margin-top: 110px;
}
.main-content__left-block h2{
    font-weight: 800;
    font-size: 50px;
    line-height: 73px;
    color: #FFFFFF;
    margin-left: 86px;
    letter-spacing: 0.6px;

}
.main-content__left-block img{
    margin-top: 10px;
}
.left-block__wol-img{
    max-width: 100%;
}
.main-content__rigth-block{
    // margin-top: 156px;
    margin-top: 120px;
    margin-left: 50px;
    
}
.rigth-block__post1 p, .rigth-block__post2 p{
    font-weight: 800;
    font-size: 25px;
    line-height: 38px;
    color: #FFFFFF;
    letter-spacing: 0.30px;
}
.rigth-block__post1 span, .rigth-block__post2 span{
    display: block;
    font-weight: 300;
    font-size: 18px;
    line-height: 29px;
    color: #FFFFFF; 
    width: 608px;
    letter-spacing: 0.18px;
    margin-bottom: 45px;
}
.rigth-block__post2 span{
    width: 648px;
    
}
;
.advantures{
  width: 100%;
  min-height: 245px;
  background-color: #ED3037;
}
.advantures__content{
    max-width: 1800px;
    margin: 0 auto;
    color: #FFFFFF;
    padding-bottom: 25px;
}
.advantures-list{
    max-width: 1800px;
    
        display: flex;
        // justify-content: space-between;
        flex-wrap: wrap;
}
.adventires-item{
    margin-top: 35px;
    width: 240px;
}
.adventires-item:last-child{
    width: 380px; 
}
.adventires-item{
    margin-left: 35px;
}
.adventires-item p{
    font-weight: 800;
font-size: 18px;
line-height: 25px;
color: #FFFFFF;
height: 60px;
}

.adventires-item span{
    font-weight: 500;
    font-size: 16px;
    line-height: 146.1%;
    color: #FFFFFF; 
}
.advantures__content-button{
    position: relative;
    max-width: 1800px;
    display: flex;
    justify-content: flex-end;
    margin-top: 100px;
    padding-bottom: 100px;
    
}
.advantures__content-button-title{
    max-width: 300px;
 
}
.advantures__content-button-title2{
    max-width: 480px;

}
.advantures-button{
    color: #DF2027;
    border-radius: 4px;
    background: #FFFFFF;
    border: none;
    cursor: pointer;
    padding: 0 25px ;
    margin-right: 50px;
    border: 1px solid #DF2027;
}
.advantures-button:hover{
 border: 1px solid #FFFFFF;
 background-color: #DF2027;
 color: #FFFFFF;
 
}









// -----------------------------Media

@import 'media'