@import 'vars';
@import 'fonts';
@import 'global';


//-----------------------------------------------------------------------------------------------------------
//
//                                                    START CODE
//
//-----------------------------------------------------------------------------------------------------------
.header{
   height:81.7px ; 
   border-bottom: 0.836598px solid rgba(255, 255, 255, 0.5);
   position: relative;
 
   
}
.main-header{
    margin: 0 auto;
    display: flex;
    color: #ffffff;
    height:81.7px ;
   
    
}
.main-header-logo{
    display: flex;
    margin-left: 317px;  
}
.main-header-logo h1{
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    margin-top: 16px;
    margin-left: 13.5px;
    letter-spacing: 0.25px;
    width: 226px;

}
.main-header-logo span{
    display: block;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    width: 190px;
    letter-spacing: 0.0px;
}
.main-header button{
    border: none;
    background-color: transparent;
    color: #FFFFFF;
}
.main-header button:hover{
    border-bottom: 0.699897px solid #FFFFFF;
}
.main-header__investor-or-partner{
    margin-top: 33px;
    margin-left: 285px;
    min-width: 308px;
    
}
.partner-login{
    margin-left: 25px;
}

.main-header__language{
    position: relative;
    margin-left: 5px;
    border-left: 0.699897px solid rgba(255, 255, 255, 0.5);
    height:81.7px; 
    max-width: 80px;
    display: flex;
    flex-direction: column;
    font-weight: 300;
font-size: 16px;
line-height: 22px;
}
.language__wrap{
    display: flex;
}
.language__arrow-down{
    margin-top: 25px;
    margin-left: -2px;
    border: none!important;
}
.language__img{
    margin-left: 15px;
    margin-top: 35px;
    border: 1px solid #ffffff;
}
.language-list{
    position: absolute;
    width: 80px;
    height: 82px;
    background: rgba(255, 255, 255, 0.2);
    top: 82px;
    z-index: 10;
    display: flex;
    flex-direction: column;
}
.language-list.hidden{
display: none;
}
.language-item{
    display: flex;
    margin-left: 15px;
    margin-top: 7px;
    font-weight: 300;
font-size: 14px;
line-height: 19px;
}
.language-item img{
    width: 26px;
    height: 17px;
    border: 1px solid #ffffff;
    margin-bottom: -5px;
    cursor: pointer;
}
.language-item p {
    margin-left: 4px;

}


.main-header__log-in{
    position: relative;
    width: 57px;
    height:827px; 
    background: #9F1922;
    margin-left: 10px;
    
   
}
.main-header__log-in button{
     margin-top: 30px;
    // margin-bottom: 8px;
    margin-left: 14px;
    // border: 1px solid green;
    
  
}
.main-header__cart{
    position: relative;
    background: #7B1522;
    height:827px;
    flex-grow: 1;
}
.line{
    position: absolute;
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    height: 1px;
    top: 81px;
    
}
.line2{
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    height: 1px;
    margin-top: 22px;  
}
.main-header__cart button{
    margin-top: 30px;
    margin-left: 16px;
}
.cart-count{
    position: absolute;
    top: 23px;
    left: 33px;
    font-weight: 800;
    font-size: 12px;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background: #DF2027;
    text-align: center;
    padding-top: 3px;

}
.price{
    position: relative;
    top: -5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    margin-left: 5px;
  

}
.sale-block{
    display: flex;
    margin-left: 241px;
    margin-top: 60px;
}
.content-loker-img{
   width: 820px;
   height: 416px;
   margin-left: 0px;
}
.content-loker-img img{
    max-width: 820px;
    height: 416px;
   
}
.sale-content{
    color: #ffffff;
    font-weight: 300;
    margin-left: -20px;
    margin-top: 45px;
}
.sale-name div{
    font-weight: 900;
    font-size: 50px;
    line-height: 68px;
color: #FFFFFF;
}
.sale-price p{
    margin-top: 15px;
}
.sale-price div{
    font-weight: 900;
    font-size: 50px;
    line-height: 68px;
color: #FFFFFF;
}
.sale-button button{
    width: 186px;
    height: 54px;  
    background: #FFFFFF;
    border: none;
    border-radius: 2.79959px;
    color: #DF2027;
    margin-top: 43px;
    margin-left: 5px;
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;
}
.sale-button button:hover{
    background: #DF2027;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 4px;  
    color: #FFFFFF;
}
.partner-toggle{
    margin-left: 10px;
    cursor: pointer;
}
.change-count{
    font-weight: 300;
font-size: 12px;
line-height: 114.6%;
    color: #EFEFEF;  
    margin-top: 10px;
    display: flex;
    width: 186px;
    margin-left: 14px;
    cursor: pointer;
    justify-content: space-between;
}
.advantages-slider{
    position: relative;
    z-index: 2;
    margin-top: -20px;
    margin-left: 317px;
}
.advantages-list{
    display: flex;
    color: #ffffff; 
    width: 1750px;
}
.advantages-item h2{
    font-weight: 800;
font-size: 18px;
line-height: 25px;
margin-bottom: 12px;
}
.advantages-item p{
    font-weight: 500;
font-size: 15px;

line-height: 146.1%;
}
.advantages-item:first-child p{
    width: 250px;
} 
.advantages-item:nth-child(2) h2{

    width: 282px;
}
.advantages-item:nth-child(2){
    margin-left: 45px;
    width: 274px;
}
.advantages-item:nth-child(3) h2{

    width: 243px;
}
.advantages-item:nth-child(3){
    margin-left: 45px;
    width: 380px;
 
}
.advantages-item:nth-child(4) h2{

    width: 233px;
}
.advantages-item:nth-child(4){
    margin-left: 45px;
    width: 380px;
 
}
.advantages-item:nth-child(5) h2{

    width: 353px;
}
.advantages-item:nth-child(5){
    margin-left: 30px;
    width: 330px;
 
}
.advantages-item:nth-child(6) h2{

    width: 300px;
}
.advantages-item:nth-child(6){
    margin-left: 10px;
   
 
}
.advantages-content{
    width: 900px;
    overflow: hidden;

}
.advantages-list{
    position: relative;
    right: 0px;
    // right: 890px;
    transition: 2s;
}

.advantages__arrows{
    position: relative;
}
.arrows__line1{
    position: relative;
    width: 824px;
    overflow: hidden;
    margin-top: 10px;
    border: 1px solid #ffffff;
    opacity: 0.3;
}
.arrows__line2{
    position: relative;
    top: -12px;
    left: 412px;
    left: 0;
    width: 412px;
    overflow: hidden;
    margin-top: 10px;
    border: 1px solid #ffffff;
    opacity: 1;
    transition: 2s;
}
.arrows{
    position: relative;
    left: 833px;
    bottom: 20px;
}
.arrows img{
    cursor: pointer;
}
.arrow-left img{
    transform: rotate(180deg);
    margin-right: 10px;
    
}
.arrow-left{
  opacity: 0.3;  
}

.myloker24{
    position: relative;
    margin-top: 90px;
    z-index: 10;
}
.myloker24-rigth-block{
    max-width: 1920px;
    height: 750px;
    margin: 0 auto;
}
.myloker24-rigth-block-img{
    max-width: 100%;
    height: 750px;

}
.myloker24-left-block{
    width: 56.5%;
    height: 750px;
    position: absolute;
    background: rgba(223, 37, 37, 0.8);
    margin-top: -2px;
    padding-left: 16.5%;
}
.myloker24-left-block__title{
    margin-top: 116px;
    font-size: 16px;
    line-height: 22px;
    color: #FFD356;
}
.myloker24-left-block h2{
margin-top: 15px;

font-weight: 800;
font-size: 44px;
line-height: 60px;
width: 399px;
color: #FFFFFF;
}
.myloker24-left-block__title2{
font-weight: 500;
font-size: 22px;
line-height: 30px;
margin-top: 48px;
color: #FFFFFF;
}
.myloker24-list{
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    width: 725px;
}
.myloker24-item{
    margin-top: 40px;
    display: flex;
}
.myloker24-item span{
    display: block;
    max-width: 233px;
    font-size: 16px;
    line-height: 22px;

color: #FFFFFF;
}
.myloker24-item:first-child{
    order: 1;
    margin-top: 35px; 
}
.myloker24-item:first-child span{
    margin-left: 10px;
    max-width: 292px;
}
.myloker24-item:nth-child(2){
    margin-top: 20px;
    margin-left: 5px;
    order: 3;
}
.myloker24-item:nth-child(2) span{
    margin-left: 15px;
    margin-top: 3px;
    min-width: 276px;
}
.myloker24-item:nth-child(3){
    order: 5;
    margin-top: 20px;
    margin-left: -5px;
}
.myloker24-item:nth-child(3) span{
    margin-top: 7px;
   min-width: 306px;
   margin-left: 10px;
}
.myloker24-item:nth-child(4){
    margin-top: 20px;
    margin-left: 0px;
    order: 2;
}
.myloker24-item:nth-child(4) span{
    margin-top: 10px;
    margin-left: 8px;
    min-width: 289px;
    
}
.myloker24-item:nth-child(5){
    order: 4;
    margin-top: 20px;
    margin-left: 15px;
    
}
.myloker24-item:nth-child(5) span{
    margin-top: 5px;
    min-width: 279px;
    
}
.countries-wrapper {
    width: 1903px;
    
    margin: 0 auto;
}
.countries{
    position: relative;
    // width: 100%;
    height: 463px;
    background-image: linear-gradient(180deg, #1D1D1D 0%, rgba(44, 44, 48, 0) 100%),
     url('../images/back-country.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -5px;
    z-index: 10;
    
}
.countries-list{
    width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    
}
.countries-item{
    position: relative;
    margin-top: 120px;
    
}
.countries-item p {
    width: 74px;
    position: absolute;
    font-weight: 500;
font-size: 13px;
line-height: 18px;

}
.countries-title{
    font-weight: 500;
font-size: 22px;
line-height: 145.1%;
display: block;
padding-top: 71px;
width: 660px;
text-align: center;
width: 1024px;
margin: 0 auto;
color: #FFFFFF;
}
.countries-item:first-child p{
    margin-top: 5px;

}
.countries-item:nth-child(2) p{
    margin-top: 5px;
    left: 7px;
}
.countries-item:nth-child(3) p{
    margin-top: 5px;
    margin-left: 15px;
}
.countries-item:nth-child(4) p{
    margin-top: 5px;
    margin-left: -5px;
}
.countries-item:nth-child(5) p{
    margin-top: 5px;
    margin-left: -7px;
}
.countries-item:nth-child(6) p{
    margin-top: 5px;
    margin-left: -3px;
}
.countries-item:nth-child(7) p{
    margin-top: 5px;
    margin-left: 12px;
}
.countries-item:nth-child(8) p{
    margin-top: 5px;
    margin-left: -5px;
}
.countries-item:nth-child(9) p{
    margin-top: 5px;
    margin-left: 12px;
}
.countries-item:nth-child(10) p{
    margin-top: 5px;
    margin-left: 7px;
}
.countries-item:nth-child(11) p{
    margin-top: 5px;
    margin-left: 0px;
}
.How-is-work{
    background-color: #FFFFFF;
    width: 1903px;
    margin: 0 auto;
    height: 767px;
}
.How-is-work h2{
    padding-top: 108px;
    margin-left: 314px;
    font-weight: 900;
font-size: 44px;
line-height: 60px;

color: #CF2222;
}
.How-is-work h2 span{
font-weight: 500;
font-size: 22px;
line-height: 30px;

color: #CF2222;
}
.How-is-work div{
    width: 235px;
    margin: 0 auto;
    font-weight: 500;
font-size: 18px;
line-height: 25px;
background: #CF2222;
color: #FFFFFF;
padding: 2px 5px 0 10px;
margin-top: 40px;
}
.how-is-works__list{
    
    width: 1283px;
    margin: 0 auto;
    display: flex;
    margin-top: 42px;
    justify-content: space-between;
}
.how-is-works__item{
    position: relative;
}
.how-is-works__item:after{
    position: absolute;
    content: "";
    width: 97px;
    height: 15px;
    background-image: url('../images/bigRigthLine.png');
    background-repeat: no-repeat;
    top: 50px;
    left: 110px;
}
.how-is-works__item p{
    font-weight: 800;
font-size: 20px;
line-height: 27px;

color: #DE2525;
}
.how-is-works__item span{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    display: block;
    color: #000000;  
}
.how-is-works__item:first-child{
    
   width: 138px;
   margin-left: 5px;
}
.how-is-works__item:first-child p{
    margin-top: 38px;
}
.how-is-works__item:first-child span{
   width: 209px;    
    margin-top: 18px
}
.how-is-works__item:nth-child(2){
    margin-left: 90px;
    margin-top: 10px;
 }
 .how-is-works__item:nth-child(2):after{
     top: 40px;
     left: 125px;
 }
 .how-is-works__item:nth-child(2) p{
     margin-top: 32px;
 }
 .how-is-works__item:nth-child(2) span{
    width: 209px;    
     margin-top: 18px;
     margin-left: -5px; 
 }
 .how-is-works__item:nth-child(3){
    margin-left: 35px;
    margin-top: 15px;
 }
 .how-is-works__item:nth-child(3):after{
    top: 37px;
    left: 150px;
}
 .how-is-works__item:nth-child(3) p{
     width: 234px;
     margin-top: 35px;
 }
 .how-is-works__item:nth-child(3) span{
    width: 239px;    
     margin-top: 25px;
     margin-left: 5px; 
 }
 .how-is-works__item:nth-child(4){
    margin-left: 40px;
    margin-top: 15px;
 }
 .how-is-works__item:nth-child(4):after{
    top: 37px;
    left: 145px;
}
 .how-is-works__item:nth-child(4) p{
     width: 134px;
     margin-top: 35px;
 }
 .how-is-works__item:nth-child(4) span{
    width: 259px;    
     margin-top: 25px;
     margin-left: 5px; 
 }
 .how-is-works__item:nth-child(5){
    margin-left: 25px;
    margin-top: 10px;
 }
 .how-is-works__item:nth-child(5):after{
    display: none;;
}
 .how-is-works__item:nth-child(5) p{
     width: 234px;
     margin-top: 35px;
 }
 .how-is-works__item:nth-child(5) span{
    width: 190px;    
     margin-top: 25px;
     margin-left: 5px; 
 }








.footer{
    position: relative;
    width: 1903px;
    margin: 0 auto; 
    height: 361px;
    text-align: center;
    padding-top: 121px;
}
.footer img{
    margin-left: 15px;  
}
.footer-copyright{
    font-weight: 500;
font-size: 14px;
line-height: 145.1%;
text-align: center;
color: #000000;
    margin-left: 15px;
    margin-top: 10px;
}
.upArrow{
    position: absolute;
    background-color: transparent;
    border: none;
    right: 290px;
    bottom: 55px;
}
// -----------------------------Media

@import 'media'